/*css com uso de seletor id - abra um id="" dentro da tag do elemento, ex: <p id="p1"> 
use #p1 dentro da tag de css e indique a estrutura desejada. OBS - o id é válido para UM único elemento
css com uso de class - abra um class="" dentro da tag do elemento, ex: <h1 class="container"> 
use .container dentro de css e indique a estrutura desejada. OBS - uma class pode ser utilizada em vários elementos*/

/*estilos da página index.html*/




.center {
    text-align: center;
}
.right{
     justify-content: right;
}

.justify {
    text-align: justify;
}

.container{
    display: flex; /*torna o elemento e automaticamente todos seus filhos em flex (torna o html em semântica)*/
    flex-flow: row-reverse;
    justify-content: center;
    align-items: center;

}

.form {
    font-family: monospace;
    font-size: 18px;
}
.par{
    color: #1e272e;
    font-family: monospace;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 220px;
}

.footer{
    color: #1e272e;
    font-family: monospace;
    font-size: 18px;
    text-align: justify;
    text-justify: auto;
}

.title{
   
    color: #1e272e;
    font-family: monospace;
    font-size: 30px;
    font-weight: bolder;
   
 
}

.t-left{
    text-align: left;
    margin-left: 50px;
}


#menu 
{   
    background-color: #e0dede;
    text-align: center;
    height: 75px;
}

#menu li{
    display: inline-block;
    margin-top:20px;

}

#menu li a{
    color: #333;
    text-decoration: none;
    color: #f78fb3;
    padding: 35px;
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
}

#menu li a:hover{
    color: #ec3c7a;
    background-color: #9b9b9b;
    font-style: italic;
}

.padd-35{
    padding: 35px;
}

#profile{
    margin-top: 80px;
    margin-right: 80px;
    margin-bottom: 65px;
}

.br-60{
    border-radius: 50%;
}
.wh-300{
    width: 350px;
    height: 350px;
}

.wh-sm{
    width: 50px;
    height: 50px;
}

/*estilos da página contato.html*/

.wh-150{
    width: 100px;
    height: 100px;
}

body{
    background-color: #ededed;
}